/* MAIN STRUCTURE */
body, html { height: 100%; }
body {
    height: 100%;
    display: flex;
    flex-flow: column;
    max-width: 1230px;
    min-width: 640px;
    margin: auto;
}
.outer-container {
  width: 100%;
}
.inner-container {
  max-width: 1230px;
  margin: auto;
  padding: 5px;
}
#body-container {
    flex-grow: 1;
}
.footer-contents {
    display: flex;
    flex-wrap: wrap;
}
.footer-links {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -0.5%;
}
#footer-left, #footer-right { flex: 50%; }
#footer-left { text-align: left; }
#footer-right { text-align: right; }
.text-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.left-column { margin-right: 1%; }
.text-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.text-column h2 { margin-bottom: -6px; }
blockquote {
    margin-top: -1px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding: 0.2em 10px;
    border-left: 2px solid;
}
blockquote, p { white-space: pre-line; }

/* HEADER */
header { margin-bottom: -50px; }
#logo {
    margin: auto;
    margin-left: 0;
    width: 400px;
    height: auto;
}
@media(max-width:575px) {
    #logo { visibility: hidden; }
}
#theme-button, #font-button {
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: calc(100% - 40px);
    width: 40px;
    height: 40px;
}
#theme-image, #font-image {
    height: auto;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
}
#theme-image {
    width: 40px;
    margin-bottom: -6px;
}
#font-image {
    width: 30px;
    margin-bottom: -8px;
}

/* NAVIGATION */
.nav-row {
    max-width: 800px;
    margin: auto;
    margin-top: 1em;
}
.nav-button, .nav-button-left, .cookie-button {
    display: block;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.nav-button { text-align: left; }
.nav-button-left { text-align: right; }
.nav-column, .nav-column-right, .nav-column-left { padding: 2%; }
.nav-column { flex: 0 1 auto; }
.nav-column-right, .nav-column-left { flex: 1; }

/* EMBELLISHMENTS */
a {
    text-decoration: none;
    color: inherit;
}
p a, li a, blockquote a, .hlink { font-weight: bold; }
p a:hover, li a:hover, .footer-links a, blockquote a:hover,
.hlink:hover, .nav-button:hover, .nav-button-left:hover,
.cookie-button:hover { text-decoration: underline; }
blockquote span.quote-title {
    font-weight: bold;
    text-decoration: underline;
}
blockquote br { margin-top: 0px; }
blockquote a { cursor: pointer; }

/* MISCELLANEOUS */
ul { margin-top: -1%; margin-bottom: 0%; }
.left { float: left; }
.right { float: right; }
.text-centred { text-align: center; }
.page-centred {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.preview-container p, .preview-container img { margin-top: -1%; }
.preview-image { border: 2px ridge; }
.external-favicon { height: 18px; }
.inline-image-left {
    float: left;
    margin-right: 8px;
}
.inline-image-right {
    float: right;
    margin-left: 8px;
}

/* COOKIE */
#cookie-popup {
/*
Adapted from the following source:
https://blog.formpl.us/how-to-create-a-simple-cookie-consent-pop-up-for-your-website-dad17a174b60
*/
    position: fixed;
    bottom: 20px;
    left: 0.6%;
    right: 10%;
    width: 15%;
    min-width: 290px;
    height: 38%;
    padding: 5px 14px;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    overflow-y: auto;
    font-size: 20px !important;
}
#cookie-popup p {
    margin-top: -1em;
    font-family: sans-serif;
}
#cookie-accept, #cookie-decline {
    width: 180x;
    font-size: 20px;
    height: 40px;
}
.cookie-button {
    padding: 1em;
    padding-top: 0.5em;
}
#cookie-button-container {
/*
Adapted from the following StackOverflow answer:
https://stackoverflow.com/questions/45911051/buttons-centered-and-side-by-side
*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
}

/* DROPDOWN
Adapted from the following w3schools tutorial:
https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
*/

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 1.5em;
  border-style: solid;
  border-radius: 2px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: sans;
  font-size: 18px;
  font-weight: bold;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}