/* ACCOUNT LIST STYLING */
#account-list {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    list-style-type: none;
    text-align: center;
    margin-right: -0.4em;
    margin-left: -0.7em;
    margin-top: 1em;
}
li.entry {
    margin-top: 1px;
    font-size: 20px;
}
li.child-entry {
    margin-top: 1px;
    font-size: 16px;
}
.list-header {
    font-size: 19px;
    text-decoration: underline;
}
li.entry a, li.child-entry a { cursor: pointer; }

/* DESCRIPTION STYLING */
#account-description { flex: 7; }

/* BUTTON STYLING */
#account-button {
    margin-top: 1em;
    margin-bottom: -0.8em;
    width: 110px;
}