figcaption {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-bottom: -3.5em;
}
figcaption p { margin-top: 1; }
a.caption-link { font-weight: bold !important; }
a.caption-link:hover { text-decoration: underline !important; }
#pronouns-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
