.cover {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.cover-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}
.description-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
}