html {
    font-family: 'LinuxBiolinumRegular';
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 21px;
    text-align: justify;
}
footer { font-size: 15px; }
.large-heading { font-size: 30px; }
blockquote { font-size: 19px; }
