/* MAIN COLOURATION*/
html, button { color: #FBFBFB; background-color: #000; }
h2:after {
    content: ' ';
    display: block;
    border: 1px solid #FFF;
    width: inherit;
}
footer { color: #999; }
button:hover { border-color: #ffdf5e; }

/* HEADER ELEMENTS */
#theme-image {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* NAVIGATION */
.selected { border-color: gold; }
.selected:hover { border-color: gold; }

/* MISCELLANEOUS */
blockquote {
    /* There must be a better way to do this */
    background-image: linear-gradient(to right, #111, #111, #111, #111, #000);
    border-color: #555;
}
p a:hover, li a:hover, blockquote a:hover, .hlink:hover,
.nav-button:hover, .nav-button-left:hover, .cookie-button:hover { color: #AAA; }
.footer-links a:hover { color: #CCC; }
.preview-image { border-color: #FFF; }
.dark-image {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
#grafeas-logo {
    background-color: #FFF !important;
}

/* COOKIES */
#cookie-popup {
    background-color: #000;
    border-color: #fff;
}

/* DROPDOWN */
.dropdown-content { background-color: #000; }