/* MAIN COLOURATION*/
html, button { color: #000; background-color: #FFF; }
h2:after {
    content: ' ';
    display: block;
    border: 1px solid #000;
    width: inherit;
}
footer { color: #333; }
button { border-color: #000; }
button:hover { border-color: #8d7f4b; }

/* HEADER ELEMENTS */
#logo {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* NAVIGATION */
.selected { border-color: #7d6800; }
.selected:hover { border-color: #7d6800; }

/* MISCELLANEOUS */
blockquote {
    /* There must be a better way to do this */
    background-image: linear-gradient(to right, #EEE, #EEE, #EEE, #EEE, #FFF);
    border-color: #BBB;
}
p a:hover, li a:hover, blockquote a:hover, .hlink:hover,
.nav-button:hover, .nav-button-left:hover, .cookie-button:hover { color: #444; }
.footer-links a:hover { color: #666; }
.preview-image { border-color: #000; }
.light-image {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* COOKIES */
#cookie-popup {
    background-color: #FFF;
    border-color: #000;
}

/* DROPDOWN */
.dropdown-content { background-color: #FFF; }